<nav class="navbar navbar-expand-md nav-color text-white-50">
  <div class="container">
    <a class="navbar-brand text-white" href="#">Mi Granja</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#"
            >Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Usuarios
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/usuarios']"
                >Listado de Usuarios para limpiar y alimentar animales</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/agregar-usuario']"
                >Agregar Usuario</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Corrales
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/corrales']"
                >Listado de Corrales para animales</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/agregar-corral']"
                >Agregar Corral</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Herramientas
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/herramientas']"
                >Listado de Herramientas para limpiar y alimentar animales</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/agregar-herramienta']"
                >Agregar Herramienta</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Comida
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/comidas']"
                >Listado de Comida para animales</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/agregar-comida']"
                >Agregar Comida</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
